DB_URI = "sqlite:///Chinook.db"

OPENAI_API_KEY = "sk-"

HUGGINGFACEHUB_API_TOKEN = ""

LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""